fastapi==0.139.2
httpx==0.28.1
pydantic==2.13.4
python-dotenv==1.2.2
uvicorn==0.51.0
alibabacloud_dm20151123
alibabacloud_credentials
alibabacloud_tea_openapi
alibabacloud_tea_util
SQLAlchemy==2.0.51
PyMySQL==1.2.0
passlib
bcrypt==4.2.0
python-jose[cryptography]
python-multipart
aiofiles
redis==5.2.1